<!DOCTYPE html>
<html>
<head>
	<title>Simple Sign In</title>
</head>
<body>
	<form method="post" action="/users">
  <div>
    <input type="text" name="user[email]" placeholder="user email">
  </div>
  <div>
    <input type="password" name="user[password]" placeholder="user password">
  </div>
  <button>Sign up</button>
</form>
</body>
</html>