<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Daily Planet</h1>

<ul>
<li><a href="http://localhost:3000/articles">Home</a></li>
</br>
<li><a href="http://localhost:3000/authors">Authors</a></li>
</body>
</html>

